<!-- Open Graph Protocol -->
<meta property="og:title" content="{{ site.title | default: site.github.repository_name }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ https://ymgcmnk.github.io/ }}" />
<meta property="og:image" content="https://user-images.githubusercontent.com/20861176/232205747-72523a82-ed82-4cd2-910e-39bad051c750.png" />
<meta property="og:site_name" content="{{ site.title }}" />
